* {
  font-family: 'Baloo', cursive;
  background-color: lavender;
}

h1 {
  color: salmon;
}

h2 {
  color: salmon;
  font-style: italic;
  font-weight: bold;
}

label {
  display: block;
}

td {
	padding: 10px;
  border: 1px solid black;
}

th {
	background-color: lightblue;
	color: blue;
}

tr {
  font-family: 'poppins' sans-serif;
}









/*{
  color:salmon;
  background-color: lavender;
};

label {
  display: block;
};
